@model IEnumerable<UniversityManagementSystem.Models.EntityModels.Invetories.ProductDetails>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <button class="btn btn-success bg-info" onclick="location.href='@Url.Action("Create", "ProductDetails")'"><i class="fas fa-plus"></i> Create New  </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.ProductDetailsId}, new {@class = "btn btn-success"}) |
            @Html.ActionLink("Details", "Details", new {id = item.ProductDetailsId }, new {@class = "btn btn-info"}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.ProductDetailsId }, new {@class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
