<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top container ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand " rel="home" href="/Views/Home/Index.cshtml" title="Brand" style="padding-top: 10px; padding-bottom: 10px"><img src="images/logo.jpg" style="display: inline-block; height: 30px; margin-top: -5px" class="img-responsive" alt="Responsive image"> University System</a>*@

               @Html.ActionLink("University System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand logo" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@


                    <li>@Html.ActionLink("University", "Index", "Universities", new { area = "Editor" }, null)</li>
                    <li>@Html.ActionLink("Supplier", "Index", "Suppliers", new { area = "Editor" }, null)</li>
                    <li>@Html.ActionLink("Department", "Index", "Departments", new { area = "Editor" }, null)</li>
                    <li>@Html.ActionLink("Products Category", "Index", "ProductCategories", new { area = "Editor" }, null)</li>
                    <li>@Html.ActionLink("Products", "Index", "Products", new { area = "Editor" }, null)</li>
                    <li>@Html.ActionLink("Products Details", "Index", "ProductDetails", new { area = "Editor" }, null)</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Non Traceable Inventory System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
